.menubutton {
  border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	width: 65%;
  height: 50px;
	margin: 5px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  font-size: 14px;

  background: #368015;
	color: #fff;
	box-shadow: 0 6px #0D3E0F;

  border-radius: 10px;

  -webkit-appearance: none;
}

.smallbutton {
  font-size: 15px;
  width: inherit;
  padding: 0px 10px;
  height: 20px;
  vertical-align: top;
	box-shadow: 0 2px #553F00;
  border-radius: 5px;
}

.center-div {
  margin: 0 auto;
  float: left;
}

.dropdown {
  color: #806415;
  background-color: #D4B96A;
  font-style: italic;
  font-size: inherit;
  width: 80%;
}
.name-field {
  font-size: inherit;
  width: 80%;
}
.category-name-field {
  font-size: inherit;
  width: 80%;
}
.category-edit-name-field {
  font-size: inherit;
  width: 80%;
  height: 70%;
  resize: none;
}

.answer-edit-field {
  font-size: inherit;
  width: 85%;
  height: 70%;
  resize: none;
  vertical-align: middle;
  display: inline-block;
  margin-top: 9px;
  margin-bottom: 9px;
}
.answer-image {
  width: 7%;
  vertical-align: middle;
  display: inline-block;
}
.sortableDiv {
    float: left;
    width: 85%;
}
.contentDiv {
  float: left;
  width: 10%;
  margin-left: 4%;
}
.clean-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.answer-container {
  height: 80px;
}
.answer-value {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

html, body {
    height: 100%;
    width: 100%;
}

html {
    display: table;
    margin: auto;
}
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
  color: black;
	font-weight: normal;
	line-height: 20px;
  background: url(beer.jpg) no-repeat center center fixed;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: table-cell;
  vertical-align: middle;
  overflow: scroll;
  padding: 10px;
}

.screen-text {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  max-width: 400px;
  border-radius: 0 0 5px 5px;
  background-color: rgba(255,255,255,0.5);
  border: solid;
  border-width: 1px;
}

.menubar-list {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255,255,255,0.5);
    font-size: 16px;
    text-align: center;
    max-width: 440px;
    border-radius: 5px 5px 0 0;
    border: solid;
    border-width: 1px;
    border-bottom: none;
}

.menubar-listitem {
    float: center;
    display: inline;
}

.menubar-listitem-a {
    display: inline-block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    color: black;
}

.radio-toolbar input[type="radio"] {
  display: none;
}

.radio-toolbar label {
  display: inline-block;
  border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	transition: all 0.3s;

  background: #368015;
	color: #fff;


  -webkit-appearance: none;

  font-size: 15px;
  padding: 10px 10px 0px 10px;
  height: 30px;
  vertical-align: top;
	box-shadow: 0 2px #553F00;
  border-radius: 5px;
}

.inactive-button {
  background: #ff0000;
	color: #fff;
	box-shadow: 0 6px #0D3E0F;
}

.radio-toolbar input[type="radio"]:checked+label {
  background-color: #bbb;
}