.menubutton {
  border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	width: 65%;
  height: 50px;
	margin: 5px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  font-size: 14px;

  background: #806415;
	color: #fff;
	box-shadow: 0 6px #553F00;

  border-radius: 0 0 5px 5px;

  -webkit-appearance: none;
}
.menubutton:active {
  box-shadow: 0 0 #553F00;
	top: 6px;
}

.smallbutton {
  font-size: 12px;
  width: inherit;
  padding: 0px 10px;
  height: 20px;
  vertical-align: top;
	box-shadow: 0 2px #553F00;
}
.smallbutton:active {
  box-shadow: 0 0 #ab3c3c;
	top: 2px;
}

.center-div {
  margin: 0 auto;
  float: left;
}

.dropdown {
  color: #806415;
  background-color: #D4B96A;
  font-style: italic;
  font-size: inherit;
  width: 80%;
}
.name-field {
  font-size: inherit;
  width: 80%;
}
.category-name-field {
  font-size: inherit;
  width: 80%;
}
.answer-edit-field {
  font-size: inherit;
  width: 80%;
  height: 50px;
}
html, body {
    height: 100%;
    width: 100%;
    max-width: 400px;
}

html {
    display: table;
    margin: auto;
}
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-style: oblique;
	font-variant: normal;
  color: #553F00;
	font-weight: 400;
	line-height: 20px;
  background-color: #000000;
  background-image: url("beer.jpg");
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: center;
  display: table-cell;
  vertical-align: middle;
}
.screen-text {
  margin: 10%;
  text-align: center;
}
