.menubutton {
  border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	width: 65%;
  height: 50px;
	margin: 5px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  font-size: 14px;

  background: #368015;
	color: #fff;
	box-shadow: 0 6px 4px #0D3E0F;

  border-radius: 10px;

  -webkit-appearance: none;
}

.smallbutton {
  font-size: 15px;
  width: inherit;
  padding: 0px 10px;
  height: 20px;
  vertical-align: top;
	box-shadow: 0 2px #553F00;
  border-radius: 5px;
}

.red {
  background: #ff0000;
}

.center-div {
  margin: 0 auto;
  float: left;
}

.dropdown {
  color: #806415;
  background-color: #D4B96A;
  font-style: italic;
  font-size: inherit;
  width: 80%;
}
.name-field {
  font-size: inherit;
  width: 80%;
}
.category-name-field {
  font-size: inherit;
  width: 80%;
}
.category-edit-name-field {
  font-size: inherit;
  width: 80%;
  height: 70%;
  resize: none;
}

textarea {
  border-radius: 4px;
  border-width: 1px;
  border-color: black;
  padding: 1%;
  box-shadow: inset 0 2px 2px 0px #dddddd;
  -webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
}

.answer-edit-field {
  font-size: inherit;
  width: 100%;
  height: 35%;
  resize: none;
  vertical-align: middle;
  display: inline-block;
  margin-left: 5%;
}
.answer-edit-field.top {
  border-radius: 4px 4px 0 0;
}
.answer-edit-field.bottom {
  border-radius: 0 0 4px 4px;
}
.answer-textarea-container {
  float: left;
  clear: left;
  width: 76%;
}

.answer-image {
  color: black;
  text-shadow: 0 1px 1px rgb(56, 56, 56);
  font-size: 1.5em !important;
  vertical-align: middle;
  width: 6%;
  transform: translateY(-72%);
}
.answer-image-container {
  width: 10%;
  float: right;
  margin: 48px 3% 0 0;
}

.answer-value {
  width: 10%;
}
.question-mark {
  margin: 0 0 0 5px;
  font-size: 25px !important;
}
.exclamation-mark {
  font-size: 22px !important;
  margin: 13px 0 0 9px;
}

.sortableDiv {
    float: left;
    width: 86%;
}
.contentDiv {
  float: left;
  width: 10%;
  margin-left: 4%;
}
.clean-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.answer-container {
  height: 100px;
}

html, body {
    height: 100%;
    width: 100%;
}

html {
    display: table;
    margin: auto;
}
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
  color: black;
	font-weight: normal;
	line-height: 20px;
  background: url(beer.jpg) no-repeat center center fixed;  
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: table-cell;
  vertical-align: middle;
  overflow: scroll;
  padding: 0px;
}

h1, h2 {
  font-family: "Times New Roman", Times, serif;
}

.screen-text {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  max-width: 400px;
  height: 100%;
  background-color: rgba(255,255,255,0.4);
}

.menubar-list {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255, 0.5);
    font-size: 30px;
    text-align: center;
    max-width: 440px;
    border-radius: 5px 5px 0 0;
    border-bottom: none;
}

.menubar-listitem {
    display: inline;
}

.menubar-listitem-a {
    display: inline-block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    color: black;
}

.category-radio-button {
  display: none;
}

.category-radio-button-label {
  display: inline-block;
  border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	transition: all 0.3s;

	color: #fff;


  -webkit-appearance: none;

  font-size: 15px;
  padding: 10px 10px 0px 10px;
  height: 30px;
  vertical-align: top;
  border-radius: 5px;
}

.category-radio-button-label.active {
  background: #368015;
	box-shadow: 0 2px #553F00;
}

.category-radio-button-label.inactive {
  background: #ff0000;
	box-shadow: 0 2px #aa0000;
}

input[type="radio"]:checked+label {
  background-color: #bbb;
}

.inactive-button {
  background: #ff0000;
	color: #fff;
	box-shadow: 0 6px #0D3E0F;
}

